/* Write your code here. */
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #ffffff33;
}
.emoji-logo {
  height: 20;
  width: 20px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .emoji-logo {
    height: 35px;
    width: 35px;
    align-self: center;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 50px;
  }
}
.heading {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  font-family: 'Roboto';
  align-self: center;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 23px;
    padding-left: 20px;
  }
}
.score-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-score {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  font-family: 'Roboto';
  align-self: flex-start;
  padding-left: 10px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .top-score {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Roboto';
    align-self: flex-start;
    padding-left: 20px;
    padding-right: 25px;
  }
}
